body{
    font-family: Bahnschrift;
}

h1{
    color:#191970;
    font-size:17pt;
    font-weight: bolder;
    font-family: Bahnschrift;
    margin-bottom:20px;

}

.help.is-danger{
    font-size:11pt;
}

.corpo{
    margin-top:100px;
    display:flex;
    flex-direction: column;
    flex-align: center;
}

.linhaParte1{
    display:flex;
    flex-direction: column;
    margin-top:5px;
}
.linhaParte2{
    height:150px;
    margin-left:10px;
    width: 250px;
    border: 1px solid black;
}

.titulo{
    text-align: center;
}

.estrutura{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.linhas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 550px;
    margin-bottom: 15px;

}

.inputs {
    display: flex;
    flex-direction: row;

}


.input.is-info{
    width:150px;
    padding:15px;
    font-size:11pt;
    border-color:#191970;
    text-align: center;
}

.glyphicon.glyphicon-ok {
    color:green;
    margin:6px;
}

.glyphicon.glyphicon-camera{
    margin-left:2.5px;
}

.btn.btn-default.btn-sm{
    margin-top:2px;
    margin-left:3px;
}

label {
    font-size:15pt;
    color:black;

    margin-righ:0px;
}


.btnSalvar{
    position:relative;
    width: 518px;
    float:right;
}

.button.is-info{
    float:right;
    margin:10px;
    margin-top:15px;
    background-color:#191970;
    font-weight: bolder;
    font-size:11pt;
    padding-right: 104px;
    padding-left: 104px;
}

.button.is-info:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

#fotoVeiculo, #fotoOdometro, #fotoLitros{
    display:none;
}

.botaoLabel{
    font-size:12pt;
    padding:4px 7.7px;
    background: white;
    color: black;
    border-radius: 6.5px;


}

.botaoLabel:hover{
    color:white;
    background-color:#191970;
    cursor: pointer;

}
.botao{
    height: 32px;
    width: 107.9px;
    border: 1px solid #191970;
    align-items:center;
    margin-left: 5px;
    margin-top: 1px;
    border-radius: 8px;

}

.images{
    height:150px;
    width: 250px;
}

@media screen and (max-width: 614px){
    .linhas{

        width: 430px;
    }
    .corpo {
        margin-top: 70px;
    }

    .btnSalvar{
        width: 112px;
    }

    .linhaParte1{

    }

    .linhaParte2{
        height: 100px;
        width: 150px;
    }

    .images{
        height: 100px;
        width: 150px;
    }
    .btnSalvar{
        widht:300px;
        margin-left: 332px;
    }

    .button.is-info{
        padding-left:55px;
        padding-right:55px;
        float:right;
    }

}

@media screen and (max-width: 507px){
    h1{
        margin-top: 0px ;
    }

    .botao{
        margin-left:0px;
    }

    .linhas{

        width: 425px;
    }
    .corpo {
        margin-top: 70px;
    }

    .btnSalvar{
        width: 112px;
    }

    .linhaParte1{
        margin-top:0px;
    }

    .linhaParte2{
        height: 100px;
        width: 150px;
    }

    .images{
        height: 100px;
        width: 150px;
    }
    .btnSalvar{
        widht:300px;
        margin-left: 332px;
    }

    .button.is-info{
        padding-left:54px;
        padding-right:54px;
        float:right;
    }
}


@media screen and (max-width: 426px){
    h1{
        margin-top: 0px ;
    }

    .botao{
        margin-left:0px;
    }
    .linhas{

        width: 332px;
    }
    .corpo {
        margin-top: 70px;
    }

    .btnSalvar{
        width: 112px;
    }

    .linhaParte1{
        width: 155px;
        margin-top:0px;

    }

    .linhaParte2{
        height: 100px;
        width: 150px;

        right:0px;
    }

    .images{
        height: 100px;
        width: 150px;
    }
    .btnSalvar{
        widht:300px;
        margin-left: 220px;
    }

    .button.is-info{
        padding-left:55px;
        padding-right:55px;
        float:right;
    }

    .inputs{
        display: flex;
        flex-direction: column;
    }
}






