body{
    font-family: Bahnschrift;
}

.field{
    width: 500px;

}


h1{
    color:#191970;
    font-size:17pt;
    font-weight: bolder;
    font-family: Bahnschrift;
    margin-bottom:15px;

}

/* corpo formulario */
.corpo{
    margin-top:100px;
    position: relative;

}

.formulario{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index:4;
}



/* formulário parte 1*/
.botRadios{
    display:flex;
    flex-direction: column;

}


.divField1{
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 500px;
}

.contDivField1{
    display:flex;
    flex-direction: column;
    padding:10px;
    margin:10px;


}

.linhas{
    display:flex;
    flex-direction:row;
    width: 455px;
    flex-wrap: wrap;
    position:relative;

}

label{
    font-size:12pt;
    color:black;
}

.divLabels{

width: 330px;

}
.radioBtn{
    position: relative;



}


/* Legends do formulário*/
.lgdLimp{
    background-color: #191970;
    padding:7px;
    color:white;
    font-size:13pt;
    font-weight: bolder;
}



.lgdObs{
    background-color: #191970;
    padding:7px;
    color:white;
    font-size:13pt;
    font-weight: bolder;
}




/* Text area do campo observação */
.divField2{
    display:flex;
    flex-direction: row;

}

.divTextArea{
    width: 500px;
    padding:10px;
}

.textarea.is-small{
    width:430px;
}

/* Label e Text field placa veiculo*/
.label_veiculo{
    font-size:15pt;
    color:#191970;

    margin-top:0px;
}

.input.is-info{
    width:150px;
    padding:10px;
    border-color:#191970;
    text-align:center;
}


/* Botao Salvar*/
.button.is-info{
    background-color:#191970;
    position: relative;
    float:right;
    right:0px;
    margin-top:10px;
    font-weight: bolder;



}
.button.is-info:hover{
    background-color:#6495ED;
}

.btnSalvar{
    position: relative;
    width: 500px;
    float:right;
    right:0px;
}

@media screen and (max-width: 450px) {
   .divTextArea, .field, .btnSalvar, .divField1{
       margin: 0px;
       width: 360px;
   }



    .linhas{
        width: 318px;
    }

    .divLabels{
        width: 100%;
    }

     .label_veiculo{
        font-size:15pt;

    }


    .corpo{
        margin-top:55px;
    }
}


@media screen and (max-width: 507px) {
    .divTextArea, .field, .btnSalvar, .divField1{
        margin: 0px;
        width: 360px;
    }
    .linhas{
        width: 318px;
    }

    .divLabels{
        width: 100%;
    }

    h2#servNome, .label_veiculo{
        font-size:15pt;

    }
    .lgdLimp, .lgdObs{
        padding: 5px;

    }


    .title, .divNomeMat{
        margin: 5px 5px;
        padding:0px;
        position:absolute;
        float:right;
        right:0px;
    }

    .corpo{
        margin-top:55px;
    }
    .button.is-info{
        margin-top:4px;
    }
}

@media screen and (max-width: 362px) {
    .divTextArea, .field, .btnSalvar, .divField1{
        margin: 0px;
        width: 340px;
    }

    .contDivField1{
        margin:5px;
        padding:5px;
    }
    .divTextArea{
        padding:5px;
    }

    .linhas{
        width: 318px;
    }

    .divLabels{
        width: 100%;
    }

     .label_veiculo{
        font-size:12pt;
         margin-top:20px;

    }
    .lgdLimp, .lgdObs{
        padding: 2px;

    }

    .button.is-info{
        margin-top:2px;
    }
    .title, .divNomeMat{
        margin: 5px 5px;
        padding:0px;
        position:absolute;
        float:right;
        right:0px;
    }

    .corpo{
        margin-top:55px;
    }
}

@media screen and (max-width: 342px) {
    .divTextArea, .field, .btnSalvar, .divField1{
        margin: 0px;
        width: 320px;
    }

    .contDivField1{
        margin:5px;
        padding:5px;
    }
    .divTextArea{
        padding:5px;
    }

    .linhas{
        width: 300px;
    }

    .divLabels{
        width: 100%;
    }

    .label_veiculo{
        font-size:12pt;
        margin-top:30px;

    }
    .lgdLimp, .lgdObs{
        padding: 2px;

    }

    .button.is-info{
        margin-top:2px;
    }
    .title, .divNomeMat{
        margin: 5px 5px;
        padding:0px;
        position:absolute;
        float:right;
        right:0px;
    }

    .corpo{
        margin-top:55px;
    }
}



