*{
    margin: 0;
    padding: 0;
   
}



header {
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color: #4AAAB0;
    position: fixed;
    text-align: left;
    color: #FFFFFF;
    font-family: Bahnschrift;
    z-index:1;

    
}


.menu-icon{
    position: fixed;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    width: 0px;
    height: 0px;
    text-align: left;

    color: aliceblue;
    cursor: pointer;
    transition: all .3s;
    left: 8px;
    top:0;
    z-index:11;


}

#search {

}

.estrutura-searchbar{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}

#search input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 13px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 90%;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    position:center;
    
    }
  



.estrutura_header{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    width:100%;
    
}

.boas-vindas{
    padding:20px;
    margin-left:20px;
}

.logo-imagem{
    z-index: 8;
   width: 150px;
    
}

#id_img_logo{
 
    margin-top:10px;
    width: 140px;
}

.segundo-header{
    margin-top:70px;
    margin-bot:0px;
    width:100%;
    height: 160px;
    background-color:#52B0B6;
    
}
@font-face {
    font-family: HUM777K;
    src: local(HUM777K), url(../fontes/HUM777K.ttf);
}

h2#servNome{
    
    font-size: 20pt;
    font-weight: bolder;
    color:white;
    display:inline;
    margin-top:80px;
    font-family: HUM777K;
    
  

}
@font-face {
    font-family: shruti;
    src: local(shruti), url(../fontes/shruti.ttf);
}

h1{
    color:white;
    font-weight: normal;
    

}





.menu-icon:hover{
    color: #5B859A;
}

#chk {
    z-index:-100;
    display: none;
}



.menu{
    height: 100%;
    position: fixed;
    background-color: #4AAAB0;
    top: 0;
    overflow: hidden;
    transition: all .5s;
    z-index:10;
}

#chk:checked ~ #principal{

    transform: translateX(300px);

}

.rodape{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
    margin-top:5px;
    background-color:#4AAAB0;
    padding:10px;
    bottom:0px;


}

.labelRodape{
    color:white;
    margin-right: 50px;
    margin-left: 25px;

}
.labelRodape2{
    color:white;
    margin-left: 60px;
}

ul{
    list-style: none;
    

}

ul li a{
    display: block;
    font-size: 18px;
    font-family: Bahnschrift;
    padding: 10px;
    border-bottom: 1px solid #CCCCCC;
    color: white;
    text-decoration: none;
    transition: all .5s;
    z-index: 10 ;
}

ul li span {
    float: right;
    padding-right: 10px;
}

ul li a:hover{
    background-color: #6495ED;
}

.voltar{
    border-top: 1px solid #CCCCCC;
    margin-top:  70px;

}
 #principal{
     width: 300px;
      left: -300px;

 }

.bg{
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    position: fixed;
    background-color: rgba(0,0,0,.6);
    display: none;
    z-index:5;
}

#chk:checked ~ .bg {
    display: block;
}

h6{
    text-align: center;
}



.logo {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
}

.imagem {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    position-fixed: cover;
}

@media screen and (max-width: 507px) {
    .menu-icon {
        font-size:25px;
        padding:4px;
    }

    #id_img_logo{
 
        margin-top:4px;
        width: 125px;
    }

    header{
        height: 45px;
    }

    #principal{
        width: 250px;
        left: -250px;
    }


    .segundo-header{
        margin-top:45px;
    }
    .voltar{
        margin-top:45px;
    }

  

    .title, .divNomeMat{
        margin: 5px 5px;
        padding:0px;
        position:absolute;
        float:right;
        right:0px;
    }

    #chk:checked ~ #principal{

        transform: translateX(250px);

    }



    ul li a{
        font-size: 15px;
    }

    .labelRodape{
        color:white;
        font-size:10pt;
        margin-right: 25px;
        margin-left: 15px;
    
    }
    .labelRodape2{
        font-size:10pt;
        color:white;
        margin-left: 20px;
    }
}

